@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  background: #34caa5;
  height: 3px;
  width: 3px;
  display: none;
}

.apexcharts-tooltip {
  background: #090c2c !important;
  width: 100px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-table-thead > tr > th {
  background: transparent !important;
  color: #a3a3a3 !important;
  font-size: 16px;
  font-weight: 400 !important;
}

.ant-table-thead > tr > th::before {
  display: none;
}

.ant-table-content > table {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: -10px !important;
}

.ant-table-tbody > tr {
  cursor: pointer !important;
}
